/* navigation bar styling */
.top-nav-bar {
  height: 120px;
  width: 100%;
  background: rgba(204, 204, 204, 0);
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  margin: 0;
  top: 0;
  z-index: 99999;
}

.top-nav-bar span {
  font-family: "Bungee";
  margin-left: 1.5em;
  color: darkorange;
}

.top-nav-bar div {
  margin: 1.5em;
  display: flex;
  flex-direction: column;
  color: darkorange;
}

.top-nav-bar div p {
  margin-bottom: 0;
}

/* STRETCH toggle button */
nav div i {
  color: red;
  align-self: center;
  -webkit-animation: mover 1s infinite alternate;
  animation: mover 1s infinite alternate;
}

@keyframes mover {
  0% {
    transform: translateY(-2px);
  }
  100% {
    transform: translateY(7px);
  }
}

nav div i:hover {
  color: yellow;
}

/* STRETCH back to top button */
.fa-arrow-alt-circle-up {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 100;
  color: darkred;
  font-size: 50px;
  transition: all 0.5s ease;
  opacity: 0;
  text-align: center;
}

.fa-arrow-alt-circle-up:hover {
  color: darkorange;
}

/* add smooth scrolling */
@media screen and (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

/* Desktop styles */
@media only screen and (min-width: 1024px) {
  .top-nav-bar {
    background-color: black;
  }
}
