/* navigation bar styling */
.top-nav-bar {
  height: 120px;
  width: 100%;
  background-color: #4056a1;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  margin: 0;
  top: 0;
  z-index: 99999;

}

.top-nav-bar span {
  font-family: "Bungee";
  margin-left: 1.5em;
}

.top-nav-bar div {
  margin: 1.5em;
  display: flex;
  flex-direction: column;
}

.top-nav-bar div p {
  margin-bottom: 0;
}

/* toggle button */
nav div i {
  color: red;
  align-self: center;
  -webkit-animation: mover 1s infinite  alternate;
  animation: mover 1s infinite  alternate;
}

@keyframes mover {
  0% { transform: translateY(-2px); }
  100% { transform: translateY(7px); }
}

nav div i:hover {
  color: yellow;
}

/* back to top button */
.fa-arrow-alt-circle-up {
  position:fixed;
  bottom: 20px;
  right: 20px;
  z-index: 100;
  color:red;
  font-size: 50px;
  transition: all .5s ease;
  opacity: 0;
  text-align: center;
}

.fa-arrow-alt-circle-up:hover{
  color: darkgoldenrod;
}

/* add smooth scrolling */
@media screen and (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}