.new-tweet-form {
  display: flex;
  flex-direction: column;
  font-family: "Bungee";
  font-weight: bold;
}
.new-tweet-form label {
  font-family: "Source Sans Pro";
  font-size: large;
}

.new-tweet-form textarea {
  outline: none;
  border-style: none;
  background-color: #f4f1ec;
  font-family: "Source Sans Pro";
  font-size: large;
  font-weight:600;
  resize: none;
  margin-top: 0.5em;
}
.new-tweet-form button {
  font-family: "Bungee";
  background-color: #4056a1;
  color: white;
}

.new-tweet-form button:hover {
  background-color: darkgoldenrod;
}

.new-tweet-form .error-message {
  color: darkred;
  text-decoration: underline;
  font-size: 15px;
}

.new-tweet-form div {
  display: flex;
  justify-content: space-between;
  border-top: black solid;
  border-width: medium;
  padding-top: 10px;
}

.negative-counter {
  color: red;
}
