/* .toggle div was added to incorporate the toggle button*/
.toggle {
  height: 400px;
}
#tweets-container {
  width: 100%;
}
.tweet-container {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: column;
  border: black solid;
  flex-wrap: nowrap;
  margin: 0;
}


.tweet-container:hover {
  box-shadow: 10px 5px 5px gray;
}

.tweet-container header {
  display: flex;
  align-items: stretch;
  justify-content:flex-start;
  flex-wrap: wrap;
  margin: 0.5em;
}

.tweet-container header h3 {
  margin: 0.5em;
}

.tweet-container .handle {
  margin-left: auto;
}

.tweet-container .content {
  width: 95%;
  border-bottom: black solid;
  align-self: center;
  margin-bottom: 0;
  font-size: large;
}

.tweet-container footer {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  margin: 0.5em 1em 1em;
  flex-wrap: nowrap;
  width: 90%;
  align-self: center;
}

.tweet-container footer h6 {
  margin:0;
}

.tweet-container footer i:hover {
  color: darkgoldenrod;
}


/* Desktop styles */
@media only screen and (min-width: 1024px) {
  .toggle {
    height: 120px;
  }

  }